@charset "UTF-8";
/* CSS Document */

body {
    color: aquamarine;
	background: #8AD2A4;
	opacity:0.7;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	}



